<h2> Reporte global a una fecha</h2>
<form method="post">
  <input type="date" name="fechainicio" placeholder=""/>
  <br>
  <input type="checkbox" name="pdf" />PDF
  <br>
  <input type="submit" class="btn btn-primary" value="Ver reporte" />
</form>
